@font-face {
    font-family: 'custom';
    src: url('custom.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


html, body {
    margin: 0;
    padding: 0;
    font-family: 'custom', sans-serif;
    height: 100%;
    background: linear-gradient(to bottom, #0b001e, #20063b);
    color: #cfa9ff;
    overflow-x: hidden;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 1000; 
    background-color: #1e0130;
    padding: 1rem;
}

header nav .left-item {
    flex: 1; 
    color: #cfa9ff;
    font-size: 1.2rem;
    text-align: left;
}

header nav ul {
    display: flex;
    justify-content: center;
    flex: 2;
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    margin: 0 1rem;
}

header nav ul li a {
    color: #cfa9ff;
    text-decoration: none;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

section h1 span:hover {
    color: #ffffff;
}


#welcome {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1rem;
}
header nav ul li a:hover {
    color: #ffffff;
}

#welcome h1 {
    font-size: 3rem;
    color: #cfa9ff !important;
    text-shadow: 0 0 15px #6a0dad;
    margin: 0;
}

.content-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    text-align: center;
}

.content-section h2 {
    font-size: 2.5rem;
    color: #cfa9ff !important;
    text-shadow: 0 0 8px #6a0dad;
    margin-bottom: 1rem;
}

.content-section p {
    font-size: 1.2rem;
    line-height: 1.8;
    max-width: 800px;
    margin: 0 auto 2rem auto;
    color: #cfa9ff !important;
}

#terms ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#terms ul li {
    font-size: 1.2rem;
    margin: 1rem 0;
    color: #cfa9ff !important;
    text-align: center;
}

#terms ul li strong {
    font-size: 1.4rem;
    color: #d7b3ff;
}

footer {
    text-align: center;
    padding: 2rem 1rem;
    background: #000000;
    color: #cfa9ff !important;
    
}

footer p {
    font-size: 1.2rem;
    color: #cfa9ff !important;
    
}

#typewriter {
    display: inline-block; 
    font-family: 'custom', sans-serif;
    font-size: 12rem;
    color: #cfa9ff;
    white-space: nowrap;
    overflow: hidden;
    text-shadow: 0 0 15px #6a0dad;
}

#cursor {
    display: inline-block;
    font-weight: bold;
    animation: blink 0.6s steps(2, start) infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}
